.content-list {
  padding-top: 25px;
  padding-bottom: 25px;
}

.content-list__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  color: #000;
}

.ordered-list{
  padding-left: 28px;
}

.ordered-list__item {
  margin-bottom: 10px;
  text-decoration: underline #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;  
  color: #02535f;
}
