:root {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #fff;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.clearfix {
  overflow: auto;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container_gray {
  padding-left: 45px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  background-color: #F1F1F1;
}

.container__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
  color: #000;
}

.paragraph {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

.figcaption {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

.img-container {
  text-align: center;
}

.img {
  display: inline-block;
  margin-bottom: 30px;
}

.article__section {
  padding-top: 25px;
  padding-bottom: 25px;
}