.container__box:not(:last-child) {
  margin-bottom: 30px;
}

.img_float_left {
  float: left;
  margin-bottom: 0;
  margin-right: 30px;
}

.img_float_right {
  float: right;
  margin-bottom: 0;
  margin-left: 40px;
}

.text-container {
  display: flow-root;
}